body {
    background-image: url('pixel.jpg');
   background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    overflow: hidden;
   

}
.container {
    display: flex;
    height: 100vh;
    
    
}
.one {
    margin: 90px 790px 85px 460px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    border-radius: 60px;
    height:550px;
    width:600px;
    transform: translateX(-70px); 
}
.one h1 {
    text-align: center;
    color:aliceblue;
}



 form  {
    
    margin: 100px 140px;

   
 } 
 input {
    border: 2px solid red;
    border-radius: 90px;
    width:320px;
    height: 50px;
 }
 
 .lock {
    
    background-image: url('lock.png');
    margin-top:0;
    background-position: 10px center;
    background-size: 20px; 
    background-repeat: no-repeat;
    padding-left: 40px;  
 }
 .mail {
    background-image: url('mail.png');
    background-position: 10px center;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 40px;

 }
 .logo {
    margin: 30px 94px;
    display: flex;
    gap:65px;
    
}

button {

    margin: 40px 109px 10px  ;
    border: 2px solid white;
    border-radius: 80px;
    width:100px;
    height:48px;
    color:blue;
    background: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
    background-color: blue;
    color:black
}
.left {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}
h2 {
    color:aliceblue;
    font-size: 50px;
    margin-left: auto;
    
}


.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rob {
    margin: 90px 155px 40px 0px;
     transform: translateX(175px); 
}
